h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.accent-color {
  color: #f4f4fd;
}
.accent-color-header {
  color: #2e2f42;
}

img {
  display: block;
}

/* ============== HEADER STYLES ============== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.section {
  padding: 120px 0;
}
.logotype-header {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact-list-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}
.contact-information {
  font-style: normal;
  align-items: center;
}

.contact-list {
  display: flex;
  gap: 40px;
}
/* ============== /HEADER STYLES ============== */
/* ============== HERO STYLES ============== */
.hero {
  background-color: #2e2f42;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  padding: 188px 0;
  flex-shrink: 0;
}
.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.order-service-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  margin: 0 auto;
  border: none;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
/* ============== /HERO STYLES ============== */
/* ============== BENEFITS STYLES ============== */
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.benefits-list-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 264px;
  line-height: 24px;
}

.benefits-list-text,
.portfolio-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* =============TEAM============ */
.team {
  background: #f4f4fd;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.under-text {
  padding: 32px 0;
}
.team-list-fullname {
  text-align: center;
  margin-bottom: 8px;
}

.team-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* =============PORTFOLIO============ */
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  align-items: flex-start;
  justify-content: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  background: #ffffff;
}

.under-text-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-title {
  margin-bottom: 8px;
}

/* =========FOOTER=============== */
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  flex-shrink: 0;
  padding: 100px 0;
  margin: 0 auto;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.logotype-footer {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
